
  
.destacado{
    text-align: center;
    font-size: 400%;
    color: rgb(43, 255, 0);
    text-transform: uppercase;
    filter: drop-shadow(0 0 20px rgb(77, 177, 10));
}
id{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;  
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

ul
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul li
{
    position: relative;
    list-style: none;
}

ul li a
{
    position: relative;
    font-size: 3em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgb(138, 127, 133);
   
}
ul li a::before
{
    content: attr(data-text);
    position: absolute;
    color: var(--color);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--color);
    -webkit-text-stroke: 1px var(--color);

}

ul li a:hover::before
{
    width: 100%;
    filter: drop-shadow(0 0 10px var(--color));
}
